@model List<news.Models.Post>
@{ Random random = new Random();}

@{
    if (Model.Count() == 0)
    {
        <div style="text-align: center;">Không có bài viết nào được viết</div>
    }
    else
    {
        foreach (var i in Model)
        {
            <!-- Single Featured Post -->
            <div class="single-blog-post featured-post-2">
                <div class="post-thumb">
                    <a href="@Url.Action("Detail", "Home", new { postId = @i.Id })"><img src="~/Content/upload/img/news/@i.ImageURL" alt=""></a>
                </div>
                <div class="post-data">
                    <a href="@Url.Action("Category", "Home", new { id = @i.Catagory.Name})" class="post-catagory">@i.Catagory.Name</a>
                    <div class="post-meta">
                        <a href="@Url.Action("Detail", "Home", new { postId = @i.Id })" class="post-title">
                            <h6>@i.Title</h6>
                        </a>
                        <!-- Post Like & Post Comment -->
                        <div class="d-flex align-items-center">
                            <a href="" class="post-like"><img src="~/img/core-img/like.png" alt=""> <span>@random.Next(1000)</span></a>
                            <a href="" class="post-comment"><img src="~/img/core-img/chat.png" alt=""> <span>@random.Next(100)</span></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
