@model IEnumerable<news.Models.Catagory>

@{
    ViewBag.Title = "Quản Lý Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <style>
        div#link a{
            color: white !important;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="justify-content:center !important; display: flex !important; align-content: space-around !important; align-items: center !important">
                    <h3 class="text-uppercase">Quản lý menu</h3>
                </div>
                <div  style="justify-content:flex-end !important; color: aqua ;display: flex !important; align-content: space-around !important; align-items: center !important; margin-top: 20px; margin-right: 3%;">
                    @Html.ActionLink("Create New", "Create",new { }, htmlAttributes: new {@class = "btn btn-outline-primary"})
                </div>
                <table class="table table-bordered" id="dataTables-example" style="width:100%">
                    <tr>
                        <th width="80%">
                            @Html.DisplayNameFor(model => model.Name)   
                        </th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="btn">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id },htmlAttributes: new { @class ="btn btn-outline-success"})
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id },htmlAttributes: new { @class ="btn btn-outline-info"})
                            </td>
                        </tr>
                    }

                </table>
            </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
